

body{
      height:100vh;
      background-color:#7E7F9A;
      display:flex;
      justify-content: center;
}
#form1{
    width: 260px;
    display:flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    text-align: center;
    background-color:#97A7B3;
    align-items: center;
    border-radius: 10px;
    padding:20px 0px
}
.title {
  font-size: 25px;
  font-family: "Righteous", cursive;
  color: #cae7b9;
}
.username,
.passname {
  font-size: 20px;
  font-family: "Righteous", cursive;
  color: #f3de8a;
}

.user,
.pass {
  text-align: center;
  border: transparent;
  border-radius: 10px;
  width: 200px;
  height: 30px;
}
.enviarForm1 {
  border: transparent;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 15px;
  font-family: "Righteous", cursive;
  color: #eb9486;
}

.enviarForm1:hover {
  background-color: #eb9486;
  border: transparent;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 15px;
  font-family: "Righteous", cursive;
  color: white;
}
@media only screen and (min-width: 768px){
    #form1{
        width: 350px;
        padding:20px 0px
        
    }   
}
